  #czz {
	width: 300px;
  height: 300px;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a9a9a9;
    height: 60px;
    margin-top: 10px;
    border-radius: 4px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: gray;
}
.active {
    background-color: #4CAF50;
    color: white;
}
  .header {
    width: 81%;
    height: 86px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
  }
   
button{
    background-color: #4CAF50;
    border: none;
    width: 100%;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;

}
input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://cdn0.iconfinder.com/data/icons/octicons/1024/credit-card-16.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
